$sitePurple: #540D6E;
$sitePink: #EE4367;
$siteYellow: #FFD140;
$siteTeal: #3BCEAB;
$siteGreen: #08AD69;
$siteBlack: #000000;
$siteGray: #A8A8A8;
$siteWhite: #ffffff;

$siteContentWidth: 980px;

@font-face {
    font-family: GillSans;
    src: url(../fonts/GillSans.ttc);
}

@font-face {
    font-family: PTSerif;
    src: url(../fonts/PTSerif-Regular.ttf);
}