.galleryPage {
    margin: 63px auto;
    max-width: $siteContentWidth;

    .title {
        font-family: GillSans;
        font-size: 25px;
        font-weight: normal;
        max-width: 230px;
        height: 35px;
        border-bottom: 2px solid $siteBlack;
    }

    .backsplash {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .subpageHero {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .foodFestival {
            width: 45%;
            height: 187px;
            margin-bottom: 20px;
        }

        .deeJay {
            width: 20%;
            height: 187px;
            margin-bottom: 20px;
        }

        .speech {
            width: 25%;
            height: 187px;
            margin-bottom: 20px;
        }

        .openFoodfest {
            width: 55%;
            height: 306px;
            margin-bottom: 20px;
        }

        .international {
            width: 40%;
            height: 306px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: $siteContentWidth) {
    .galleryPage {
        .title {
            margin-left: 8px;
        }
    }
}